* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#filterArea {
    width: 100%;
    justify-content: space-between;
    background-color: #ccc;
    padding: 12px 6px;
    z-index: 10001;
    display: flex;
    position: fixed;
}

#filterArea form {
    width: 100% !important;
    display: flex;
}

#filterArea form * {
    margin-right: 6px
}

document {
    /* background-color: #98d9ff;   */
    background: linear-gradient(135deg, #ABDCFF, #4fb6ff);
    display: block;
    padding: 1.5cm .5cm;
}

page {
    border: 1px solid rgb(105, 105, 105);
    box-shadow: 2px 2px 6px rgba(112, 112, 112, 0.692);
    margin: 6mm auto;
    background-color: white;
    font-size: 10pt;
    display: inherit;
}

page.hidden {
    display: none !important;
}

page.currentPage {
    display: block !important;
}

page.a4 {
    width: 210mm !important;
    height: 297mm !important;
    padding: 15mm 10mm !important;
}

docHeader {
    display: block;
    border-bottom: 1px dashed #555;
    margin-bottom: 24px;
}

table.pageData {
    width: 100%;
    /*  margin: 5mm 0; */
    border-spacing: 0;
}

.pageData tbody {
    border: 1px dashed #bbb;
}

thead tr th {
    padding: 1mm 2mm;
    background-color: orange;
    margin: 0;
}

th {
    text-align: left;
}

tbody tr {
    line-height: 24px;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background: #efefef
}

td.currency,
th.currency {
    text-align: right;
}

td.currency::before {
    content: '\20B9';
    margin-right: 12px;
    font-size: .8rem;
}

h1 {
    margin-top: 0;
}

docNav {
    position: fixed;
    bottom: 16px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    display: block;
}

docNav #pageNavigation {
    background-color: rgb(80, 80, 80);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 10pt;
    width: fit-content;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

#pageNavigation .navAnchor a {
    text-decoration: none;
    color: white;
    margin: 0 4px;
    padding: 4px 12px;
    border-radius: 4px;
    min-width: 24px;
    display: block;
}

#pageNavigation .navAnchor a:hover {
    background-color: rgb(119, 119, 119);
}

#navAnchorFirst a::before {
    content: '<';
    margin-right: -3px;
}

#navAnchorLast a::after {
    content: '>';
    margin-left: -3px;
}

#pageNavigation .navText {
    margin: 0 12px;
}

@media print {
    body {
        padding: 0 !important;
        margin: 0 !important;
        width: 210mm !important;
        height: 297mm !important;
    }
    @page {
        size: A4;
        margin: 0 !important;
        padding: 0 !important;
    }
    page {
        box-shadow: none !important;
        border: none !important;
        margin: 0 !important;
    }
    page.a4 {
        width: 210mm !important;
        height: 297mm !important;
        padding: 15mm 10mm !important;
    }
    #filterArea {
        display: none !important;
    }
    tbody tr {
        line-height: 24px !important;
    }
}